﻿@{ 
    ViewData["Title"] = "My profile";
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
}
@model Carpooling.Web.Models.UserProfileViewModel

<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="~/images/@Model.ProfilePicture" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <p class="text-secondary mb-1">Rating as Driver: @Model.RatingAsDriver</p>
                        <p class="text-muted font-size-sm">Rating as passenger: @Model.RatingAsPassenger</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.FirstName @Model.LastName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.PhoneNumber
                    </div>
                </div>
                <hr>
                <div class="row">
                    @if (ViewData["CurrentUser"].Equals(Model.Username))
                    {
                        <div class="col-sm-auto">
                            <a class="btn btn-info " asp-controller="Users" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
                        </div>
                    }

                    @if (ViewData["CurrentUser"].Equals(Model.Username))
                    {
                        <div class="col-sm-auto">
                            <a class="btn btn-info " asp-controller="Feedbacks" asp-action="Given" asp-route-id="@Model.Id">Given feedbacks</a>
                        </div>
                    }
                    <div class="col-sm-auto">
                        <a class="btn btn-info " asp-controller="Feedbacks" asp-action="Received" asp-route-id="@Model.Id">Recieved </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>