﻿@{ 
    ViewData["Title"] = "Created";
}

@model IEnumerable<TravelViewModel>

<partial name="_Navigation.cshtml" />
<div class="container">
    <div class="row">
        <form asp-action="@ViewData["Action"]" method="get">
            <label for="Filter">Filter by:</label>
            <div id="Filter" class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="driver" value="@ViewData["Driver"]" placeholder="Driver username" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="startCity" value="@ViewData["StartCity"]" placeholder="Start point" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="destinationCity" value="@ViewData["DestinationCity"]" placeholder="Destination point" />
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="spots" value="@ViewData["Spots"]" placeholder="Passenger spots" />
                </div>
            </div>
            <label for="Sort">Sort by:</label>
            <div id="Sort" class="form-row">
                <div class="col">
                    <label for="spotsSort">Free spots</label>
                    <input type="checkbox" name="spotsSort" value="true" />
                </div>
                <div class="col">
                    <label for="dateSort">Departure time</label>
                    <input type="checkbox" name="dateSort" value="true" />
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-info" name="submit" value="Search" />
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Driver</td>
                    <td>Start location</td>
                    <td>Destination</td>
                    <td>Passenger spots</td>
                    <td>Departure time</td>
                    <td>Travel info</td>
                    <td>Edit</td>
                    <td>Cancel Travel</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var travel in Model)
                {
                <tr>
                    <td>@travel.DriverUsername</td>
                    <td>@travel.StartCity</td>
                    <td>@travel.DestinationCity</td>
                    <td>@travel.FreeSpots</td>
                    <td>@travel.DepartureTime</td>
                    <td>
                        <a class="btn btn-info" asp-controller="Travels" asp-action="Details" asp-route-id="@travel.Id">More info</a>
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="Travels" asp-action="Update" asp-route-Id="@travel.Id">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="Travels" asp-action="Cancel" asp-route-id="@travel.Id">Cancel</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>